<p style="margin: 2rem;">all-employee works!</p>
<div class="nav">
    <ul>
        <li>
            <h4>To Get the employee List, click on
                <a [routerLink]="['get-employee']">Get Employee</a>
            </h4>
        </li>
        <li>
            <h4>To Add the employee List, click on
                <a [routerLink]="['add-employee']">Add Employee</a>
            </h4>
        </li>
        <li>
            <h4>To Delete the employee List, click on
                <a [routerLink]="['delete-employee']">Delete employee</a>
            </h4>
        </li>
    </ul>
</div>