.header-navbar {
    background-color: #0076ce;
    border-bottom: none;
    border-radius: 0;
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;
    width: 100%;
    padding: 10px;
}